@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using static DDPA.Commons.Enums.DDPAEnums
@using DDPA.Commons.Results;
@model UpdateFieldItemViewModel
@{
    ViewData["Title"] = ViewData["fieldName"] + " - item";
    var resultMsg = TempData["resultMsg"] ?? "";
}

@section scripts
    {
    <script>
        var resultMsg = "@resultMsg";
    </script>
}

<main>
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-image card-noimg">
                            <img src="~/images/title-bg.png">
                            <span class="card-title">@ViewBag.Title</span>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <form id="f_updateFieldItem" class="col s12" asp-controller="Maintenance" asp-action="UpdateFieldItem" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form" autocomplete="off">
                                    <input type="hidden" asp-for="Id" />
                                    <input type="hidden" asp-for="FieldId" />
                                    <div class="row">
                                        <div class="input-field col s8 offset-s2">
                                            <input asp-for="Name" type="text" class="validate" required/>
                                            <label for="Name">Name</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s8 offset-s2">
                                            <input asp-for="Description" type="text" class="validate"/>
                                            <label for="Description">Description</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card-action right-align">
                            <a asp-controller="Maintenance" asp-action="AddFieldItem" asp-route-id="@Model.FieldId" class="waves-effect waves-light btn red lighten-1">Cancel</a>
                            <button type="submit" form="f_updateFieldItem" class="waves-effect waves-light btn blue">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
